<div class="memb-card">
        <img src="/assets/images/raven-padlock.webp"
        class="kg-image"
        alt="drawing of a padlock shaped like a raven"
        loading="lazy"
        >
        <div class="memb-card-title">
            <h3>This section is for museum members only</h3>
            <h4>The good news? Becoming a Ravensfield member is absolutely free!</h4>
        </div>

        <p>Subscribe now and get access to the full Ravensfield Archive:<br> a treasure trove of uniquely bizarre objects and their enigmatic origin stories.</p>

        <a href="#/portal" class="card-button">Subscribe</a>

</div>