.card-button{
    margin: 2vw;
    border: 0.5vmin double #1D2228;
    background-color: transparent;
    padding: 1vw;
    font-size: 2vw;
    font-family: var(--font-sans-serif);
    transition: .4s ease;
}

.card-button:hover{
    cursor: pointer;
    border: 0.5vmin double #f6f6f6;
    background-color: #1D2228;
    color: #f6f6f6;
    transition: ease-in-out;
}

.nav-button{
    border: 0.5vmin double #f6f6f6;
    background-color: transparent;
    padding: 1vw;
    font-size: 2vw;
    color: #f6f6f6
}

.nav-button:hover{
    background-color: #f6f6f6;
    color: #1D2228;
}


.section-title{
    text-align: center;
    margin-bottom: 5vmin;
    font-size: 4vmin;

}

.nav-button-sm{
    font-size: 1.75vw;
}

.archive{
    margin-top: 5vmin;
}

.latest-posts{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 4vmin;
    margin-bottom: 20vmin;
}

.post-container{
    border: 0.75vmin, double, #1D2228;
    padding: 1vmin;
}

.museum-tag{
    font-size: 1.5vh;
    font-style: italic;
    color: black;
}

.gh-content p{
    color: black;
    font-size: 18px;
}

@media (max-width: 900px) {
    .nav-button{
        border: none;
        padding: 0;
        font-size: 3vw;
    }

    .nav-button:hover{
        background-color: transparent;
        color: #f6f6f6;
        text-decoration: underline;
    }

    .card-button {
        font-size: 3vw;

    }

    .nav-button-sm{
        font-size: 1vh;
    }

    .sm-card-title{
        margin: 1vh;
        font-size: 1.75vh;
    }

    .museum-tag{
        font-size: 1.10vh;
    }

    .latest-posts{
        grid-template-columns: repeat(1, minmax(300px, 1fr));

    }
}

ol{
    margin-bottom: 1-button0vh;
}

ol li{
    margin-bottom: 2vh;
}

.memb-card{
    border: 0.75vmin double #1D2228;
    max-width: 100%;
    padding: 2vh;
    text-align: center;
    background-color: transparent;
}

.memb-card img{
    max-width: 15vmin;
    margin: 0 auto;
}

.memb-card-title{
    margin-bottom: 2vh;
}

.memb-card h3{
    font-size: 4vmin;
}

.memb-card h4{
    font-size: 2.40vmin;
}

.memb-card p{
    font-family: var(--font-serif);
    font-size: 2vmin;
    font-weight: 600;
    margin-bottom: 2.5vh;
    line-height: 2.5vh;
}

@media (max-width: 600px){
    .memb-card p{
        line-height: 1.25vh;
    }
}
