{{!< default}}

<div class="gh-page">
    <div class="gh-container">
        <h2 class="section-title archive">The Ravensfield Archive</h2>
        {{#if @member}}
        <main class="latest-posts">
        {{#get "posts" limit="5"}}
        {{#foreach posts}}
        <div class="post-container">
            {{> card-sm }}
        </div>
        {{/foreach}}
        {{/get}}
        </main>
        {{else}}
        {{> members-only-card}}
        {{/if}}
    </div>
</div>
{{pagination}}