<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="color-scheme" content="light dark"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
        <title>Ravensfield Test</title>
    </head>
    <body>
        <h1>The Ravensfield Collection</h1>
        <img src="{{.ImgUrl}}">
        <p class="description">{{.Description}}</p>
    </body>
</html>